/* Menu Card Custom Design */
.menu-card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-card .btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 22px rgba(173, 24, 39, 0.35);
  opacity: 0.95;
}

.menu-card .btn {
      /* Bootstrap danger red */
  border: none;
  border-radius: px;
}

.menu-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.menu-card img {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-weight: bold;
  margin-bottom: 2px;
}

.card-text {
  font-size: 14px;
  color: #555;
}